{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .custom-auth {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column
  }
  .custom-auth h1{
    font-size:33px;
    font-family:var(--font-family-1);
    font-weight:700;
    text-transform:uppercase;
    margin:0
  }
  .login-form,
  .forgot-password-form,
  .register-wrap{
    max-width:600px;
    width:100%
  }
  .auth-custom-input {
    display:flex;
    flex-direction:column;
    width:100%;
    margin-top:2rem
  }
  .auth-custom-input label,
  .auth-custom-input input {
    font-size:17px;
    font-weight:400;
    font-family:var(--font-family-3);
    margin-bottom:5px;
  }
  .auth-custom-input input {
    height:40px;
    padding-left:10px;
    border:1px solid var(--color-border);
    border-radius:3px
  }
  .auth-custom-input input:focus-visible {
        outline:none;
        outline-offset:0;
        box-shadow:none
  }
  .auth-custom-input .no-outline:focus {
    outline: none;
  }
  .auth-wrap-bnt {
    margin-top:15px
  }
  .auth-wrap-bnt button {
    padding:15px 20px;
    font-size:15px;
    font-family:var(--font-family-1);
    color:var(--color-head);
    background:var(--color-black);
    border-radius:3px;
    font-weight:600;
    text-transform:uppercase;
    margin-right:20px;
   
  }
  .auth-wrap-bnt a {
    color:var(--color-orange);
    font-size:14px;
    font-family:var(--font-family-3);
    font-weight:400
  }
  .forgot-password-form {
    display:none
  }
  .forgot-password-form,
  .register-wrap{
    font-size:17px;
    font-family:var(--font-family-3);
    font-weight:400;
    color:var(--color-black);
  }
  .register-wrap {
    margin-bottom:2rem
  }
  .register-wrap h3 {
    font-size:18px;
    font-family:var(--font-family-1);
    font-weight:700;
    text-transform:uppercase;
  }
  .register-wrap a {
    padding:15px 20px;
    font-size:15px;
    font-family:var(--font-family-1);
    font-weight:600;
    border-radius:3px;
    text-transform:uppercase;
    color:var(--color-black);
    background:#cfbb99;
    margin-top:1rem;
    display: inline-block;
  }
{%- endstyle -%}

<div class="custom-auth">
  <h1>Login</h1>
  <div id="login_form" class="login-form">
    {% form 'customer_login' %}
       <div class="auth-custom-input">
          <label>Email</label>
          <input
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="your@gmail.com"
          />
        </div>
        <div class="auth-custom-input">
          <label>Password</label>
          <input
            type="password"
            value=""
            name="customer[password]"
            id="CustomerPassword"
            autocomplete="current-password"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
          />
        </div>
        <div class="auth-wrap-bnt">
          <button type="submit">Login</button>
          <a href="#recover" id="forgotPassword">Forgot your password?</a>
        </div>
    {% endform %}
  </div>
  <div id="forgot_password_form" class="forgot-password-form">
    {% form 'recover_customer_password' %}
      <p>We'll send you an email to reset your password.</p>
      <div class="auth-custom-input">
        <label>Email</label>
        <input
          value=""
          name="email"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
          placeholder="your@gmail.com"
        />
      </div>
      <div class="auth-wrap-bnt">
        <button type="submit">Reset</button>
        <a href="#recover" id="unForgotPassword">Cancel</a>
      </div>
    {% endform %}
  </div>
  <div class="register-wrap">
    <h3>New customer?</h3>
    <p>
      Sign up for an account to take advantage of order tracking and history as well as pre-filled forms during checkout on subsequent orders.
    </p>
    <a href="{{ routes.account_register_url }}">
     Register
    </a>
  </div>
</div>

<script>
  var forgotPasswordForm = document.getElementById("forgot_password_form")
  var loginForm = document.getElementById("login_form")
  if(document.getElementById("forgotPassword") != null){
    document.getElementById("forgotPassword").addEventListener('click', function (){
      forgotPasswordForm.style.display = "block"
      loginForm.style.display = "none"
    })
  }
  if(document.getElementById("unForgotPassword") != null){
    document.getElementById("unForgotPassword").addEventListener('click', function (){
      forgotPasswordForm.style.display = "none";
      loginForm.style.display = "block"
    })
  }
 
</script>
{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
