{% style %}
.product__heading {
    text-align:center;
    margin-bottom:5rem
}
.product__heading h2{
    font-size:16px; 
    font-weight:700;
    font-family:var(--font-family-1);
}
  
{% endstyle %}
<div class="page-width">
<div class="product__heading">
   <h2> CUSTOMER FAVORITES</h2>
</div>
<div class="custom-grid">
    <div class="custom-row">
        {% for product in collections[section.settings.collection].products limit: 6 %}
            <div class="custom-col col-xl-4 col-lg-4 col-md-6 col-sm-6 custom-col-6">
              {% render 'card-custom-product', product: product %}
            </div>
        {% endfor %}
     </div>
</div>
</div>
{% schema %}
    {
        "name":"Section product",
        "settings":[
                    {
                        "type":"collection",
                        "id":"collection",
                        "label":"Collection"
                    }
                ],
        "presets":[
            {
                "name":"Section product"
            }
        ]
    }
{% endschema %}