{% style %}
    .collection-group-container {
        margin-top:5rem;
        padding-bottom:5rem;
        border-bottom:1px solid var(--color-border)
    }
    .collection__card {
        position:relative;
    }
    .collection__img-wrap {
        width:100%;
        height:100%; 
        height:340px;
    }
    .collection__img {
        width:100%;
        height:100%;
    }

    .collection__wrap-card {
        display:flex
    }
    .collection__card {
        flex:1;
        padding:0 18px
    }
    .collection__card:first-child{
        padding-left:0
    }
    .collection__card:last-child{
        padding-right:0px
    }
    .collection__content {
        position:absolute;
        top:0;
        left:0;
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%
    }
    .collection__content h2 {
        font-size:19px;
        font-weight:500;
        color:var(--color-white);
        font-family:var(--font-family-1);
        text-transform:uppercase
    }
    @media (max-width: 1200px) {
        .collection__img-wrap {
        height:276px;
    }
    }
    @media (max-width: 992px) {
        .collection__img-wrap {
        height:214px;
        }
    }
  
    @media (max-width: 992px) {
        .collection__img-wrap {
        height:214px;
        }
    }
    @media (max-width: 720px) {
        .collection__wrap-card {
        display:block
    }
        .collection__img-wrap {
        height:156px;
        }
        .collection__card {
        padding:10px 80px
    }
    .collection__card:first-child{
        padding-left:80px
    }
    .collection__card:last-child{
        padding-right:80px
    }
    }
    @media (max-width: 500px) {
        .collection__img-wrap {
        height:156px;
        }
        .collection__card {
        padding:10px 0px
    }
    .collection__card:first-child{
        padding-left:0px
    }
    .collection__card:last-child{
        padding-right:0px
    }
    }
{% endstyle %}
<div class="collection-group-container">
   <div class="page-width">
    <div class="collection__wrap-card">
        {% for block in section.blocks %}
            {% assign item = block.settings.collection %}
                <div class="collection__card">
                    <a href="{{item.url}}">
                        <div class="collection__img-wrap">
                            {% if item.featured_image != blank %}
                                <img  class="collection__img" src="{{item.featured_image | img_url: 'large'}}" width="auto" height="auto" loading="lazy"/>
                                {% else %}
                                {{ 'image' | placeholder_svg_tag: 'collection__img' }}
                            {% endif %}
                        </div>
                        <div class="collection__content">
                            {% if item.title != blank %}
                                <h2> {{ item.title }}</h2>
                                {% else %}
                                <h2 style="color:#000">Colection title</h2> 
                            {% endif %}
                        
                        </div>
                    </a>
                </div>
        {% endfor %}
    </div>
   </div>
</div>

{% schema %}
    {
        "name":"Section collections",
        "blocks":[
            {
                "type":"collection",
                "name":"Collections",
                "limit":2,
                "settings":[
                    {
                        "type":"collection",
                        "id":"collection",
                        "label":"Collection"
                    }
                ]
            }
        ],
        "presets":[
            {
                "name":"Section collection",
                "blocks": [
                    {
                    "type": "collection"
                    },
                    {
                    "type": "collection"
                    }
                ]
            }
        ]
    }
{% endschema %}