<div>
    My Blog
</div>

{% schema %}
    {
        "name":"Section blog",
        "settings":[
            {
                "type": "blog",
                "id": "blog",
                "label": "t:sections.featured-blog.settings.blog.label"
            }
        ],
        "presets":[
            {
                "name":"Section blog"
            }
        ]
    }
{% endschema %}