<div class="section-detail-product">
    Detail product
</div>
{% schema %}
    {
        "name":"Section detail product",
        "settings":[
                    {
                        "type":"collection",
                        "id":"collection",
                        "label":"Collection"
                    },
                    {
                        "type": "product",
                        "id": "product",
                        "label": "t:sections.featured-product.settings.product.label"
                    }
                ],
        "presets":[
            {
                "name":"Section detail product"
            }
        ]
    }
{% endschema %}