{% style %}
    .section-line {
        color:transparent;
        border:1px solid var(--color-border);
        margin: 5rem 0;
    }
{% endstyle %}
<div class="page-width">
    <div class="section-line">
        T
    </div>
</div>
{% schema %}
{
    "name":"Section line",
    "settings":[
      {
        "type": "text",
        "id": "title",
        "default": "QUALITY CRAFTSMANSHIP",
        "label": "Title"
      }
    ],
    "presets":[
        {
            "name":"Section line"
        }
      ]
}
{% endschema %}