<div>
 Product
</div>
{% schema %}
    {
        "name":"Section product",
        "settings":[
                    {
                        "type":"collection",
                        "id":"collection",
                        "label":"Collection"
                    }
                ],
        "presets":[
            {
                "name":"Section product"
            }
        ]
    }
{% endschema %}